* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(19, 19, 19);
}

main {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

/* card headline */
.headline {
  background-color: rgb(201, 240, 255);
  border-radius: 20px;
  display: flex;
  gap: 40px;
  padding: 40px;
  margin-bottom: 2rem;
}

.box-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.waktu {
  font-size: 2em;
  font-weight: 700;
  color: rgb(61, 61, 61);
}

.box-suhu {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
}

.box-suhu p:nth-child(1) {
  font-size: 3em;
  font-weight: 800;
  color: rgb(29, 29, 29);
}

.box-suhu p {
  font-size: 1.5em;
}

.box-suhu p span {
  font-size: 2em;
  margin-left: 1.5rem;
}

.box-legend {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.box-legend p {
  display: block;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  text-wrap: nowrap;
  padding: 5px;
}

.box-legend p span {
  font-weight: bold;
}

/* date navigation */
.button-box {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.button-box button {
  padding: 10px 50px;
  border-radius: 10px;
  border: 1px solid rgb(179, 179, 179);
  background-color: white;
  cursor: pointer;
}

.button-box button:focus {
  border: 1px solid rgb(0, 60, 255);
  color: rgb(0, 60, 255);
}

/* card details */
.card-container {
  display: flex;
  gap: 3rem;
  overflow: auto;
}

.card {
  background-color: rgb(201, 240, 255);
  border-radius: 20px;
  padding: 40px;
}

.card h4 {
  font-size: 1.5rem;
}

.card .suhu {
  font-size: 3rem;
  font-weight: 700;
}

.card .weather-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-box {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  padding: 5px;
}

.card-box span {
  font-weight: 700;
}

.card-box > p {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.card-box p:last-child {
  border-bottom: none;
}
